{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <title>To-Do List</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Water</h1>
        <ul>
            {% for task in tasks %}
                <li{% if task.completed %} class="completed"{% endif %}>
                    {{ task.title }}
                    - <a href="{% url 'task_update' task.pk %}">Edit</a> |
                    <a href="{% url 'task_delete' task.pk %}">Delete</a> |
                    <a href="{% url 'task_complete' task.pk %}">Complete</a>
                </li>
            {% endfor %}
        </ul>
        <a href="{% url 'task_create' %}">Add Task</a>
    </div>
</body>
</html>
